body {
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

.container h1 {
    font-size: 20px;
}

.cabecera {
    background: #33A;
    color: white;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    margin: 0;
    padding: .5em;

}

.cabecera .tagline {
    font-weight: normal;
    font-size: .8em;
    padding:0 0 0 1em;
}

.post {
    padding: 1em;
}
